	#job-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 20px;
		padding: 10px;	
	}
		.job-post {
        background-color: #fff;
		border: 1px solid #ddd;
		border-radius: 8px;
		width: 310px;
		padding: 16px;
		margin-bottom:20px;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
		transition: transform 0.2s ease, box-shadow 0.2s ease;
        }

        .job-details {
            width: 90%;
        }
		.job-post:hover {
			transform: translateY(-25px);
			box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
			background-color:#fff;
			}

        .job-heading {
            color: #00B074;
            font-size: 1.5em;
            margin-bottom: 10px;
        }

        .department {
            font-weight: bold;
        }

        .designation, .location, .job-type, .salary, .expiry-date {
            margin: 5px 0;
			font-weight: bold;
        }

        .action-buttons {
            text-align: center;
			text-decoration: block;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			cursor: pointer;
            
            
        }
		.button{
			color:black;
			background-color:white;
		}

        .action-buttons button {
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            color: black;
            cursor: pointer;
            margin: 5px;
			
        }

        .apply-btn {
            background-color: #00B074;
			font-size: 0.9em;
        }

        .know-more-btn {
            background-color: #00B074;
			display:none;
        }

        .favorite {
            font-size: 0.9em;
            cursor: pointer;
            color:black;
			background-color: #00B074;
        }

        .favorite.saved {
            color: green;
        }

        .expiry-date {
            font-weight: bold;
        }

        .expired {
            color: red;
        }

        .hidden {
            display: none;
        }

        .hover-text:hover {
            text-decoration: underline;
            color: #007BFF;
            cursor: pointer;

        }