table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 4px;
  font-size: 12px;
}

tr:nth-child(even) {
  
}
.skills_container {
      display: flex;
      gap: 20px;
      margin-top: 20px;
    }

    .heading {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .heading input {
      margin-top: 10px;
    }

    .paragraph {
      display: none;
      margin-top: 20px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
	
	.online-counter {
      font-size: 18px;
      color: #00B074;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10vh; 
    }
	